<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../style/styleClients.css">
  <link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Clientes</title>
</head>

<body>
  <nav class="dash-nav">
    <div>Logo Aqui</div>
    {{!-- <ul class="ul-horizontal">
      <li>Home</li>
      <li>Despesas</li>
      <li>Receitas</li>
    </ul> --}}

    <div>
      <a href="" class="log-out">Log Out</a>
    </div>

  </nav>

  <nav class="nav-side">
    <ul>
      <li>
        <a onclick="openMenu(this)">
          <img id="expand" class="icon-img" src="../images/expand.svg" alt="">
        </a>
        <a class="side-menu-item" href="">Menu</a>
      </li>
      <li>
        <a href="/landingPage">
          <img class="icon-img" src="../images/icon2.svg" alt="">
        </a>
        <a class="side-menu-item" href="/landingPage">Dahsboard</a>
      </li>
      <li>
        <a href="/addCLients">
          <img class="icon-img" src="../images/cliente.svg" alt="">
        </a>
        <a class="side-menu-item" href="/addClients">Clientes</a>
      </li>
      <li>
        <a href="">
          <img class="icon-img" src="../images/icon1.svg" alt="">
        </a>
        <a class="side-menu-item" href="">Receita</a>
      </li>
      <li>
        <a href="">
          <img class="icon-img" src="../images/icon3.svg" alt="">
        </a>
        <a class="side-menu-item" href="">Renda</a>
      </li>
    </ul>
  </nav>

  <div class="Tittle">
    <h2>Adicionar clientes</h2>

    <h4>Adicione os dados do cliente a abaixo</h4>
  </div>
  <div>
    <div class="create-new-client ">
      <form id="create-new-client">

        <input class="inputs" type="text" id='clientName' placeholder="Nome">
        <input class="inputs" type="text" id='clientEmail' placeholder="E-mail" onblur="validateEmail2()">
        <input class="inputs" type="text" id='clientTellphone' placeholder="Telefone" value="+55" onblur="phonenumber2()">

        <button class="button" type="submit">Adicionar</button>
      </form>
      <div id="email-errado" class="error hide"><p>Insira um e-mail válido</p></div>
    </div>
    <table align="center" cellspacing=30 cellpadding=5 id='data-table'>
      <tr class="sub-title">
        <th>Nome</th>
        <th>E-mail</th>
        <th style="width: 150px;">Telefone</th>
      </tr>

      {{#each resp}}
      <tr class="clients">
        <td class="clientName inputs" id={{_id}}>{{name}}</td>
        <td class="clientName inputs">{{email}}</td>
        <td class="clientName inputs">{{tellphone}}</td>
        <td class="buttons">
          <input class="button" type="button" id="edit_button1" value="Edit" style="margin-right:10px"
            onclick="myClick(this, 'update')">
          {{!-- <a onclick="myClick(this, 'update')">
            <img src="../images/icon3.svg" style="width: 30px;">
          </a> --}}
          <input type="button" id="save_button1" value="Save" class="hide" style="margin-right:10px"
            onclick="save(this,'save')">
          <input type="button" id="cancel_button1" value="Cancel" class="hide" style="margin-right:10px"
            onclick="save(this,'cancel')">
          <input class="button" type="button" value="Deletar" onclick="myClick(this,'deletar')">
          <a value={{_id}} href="/detail/{{_id}}">Detalhes</a>
        </td>
      </tr>
      {{/each}}

    </table>

  </div>

  <script type="text/javascript" src="../javascript/clients.js"></script>
  <script type="text/javascript" src="../javascript/clientsHandler.js"></script>
</body>

</html>