<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    
<h2>Adicionar Receita:</h2>
<form id="create-new-income">
    <label>Cliente:</label>
    <select name="clients" id="clients">
    {{#each clients}}
    <option value={{_id}}>{{name}}</option>
    {{/each}}
    </select>
    <a href="/addClients">+</a>
    <label >Quantidade:</label>
    <input class="amount" type="number" name="amount" value="0" step="any" title="Adicionar quantidade, Não utilizar virgula somente ponto!">
    <label >Valor unitario R$:</label>
    <input class="valueUnit" type="number" name="valueUnit" value="0" step="any" title="Adicionar valor unitario, Não utilizar virgula somente ponto!">
    <label id="valueTotal"> Valor total:<strong>R$ 0,00 </strong></label>
    <label>Forma de Pagamento:</label>
    <input type="text" name="formPGTO">
    <label>Vencimento:</label>
    <input type="date" name="maturity">
    <label>Descrição:</label>
    <input type="text" name="description">
    <label>Categoria:</label>
    <input type="text" name="category">
    <button type="submit">Adicionar</button>
</form>
<div class="message-container"></div>
<section id="income-List">
{{#if financialIncomes}}
    <h3> Lista de entradas </h3>
    {{#each financialIncomes}}
    <div id="income">
        <div value="{{idCliente}}">Cliente: {{nameClient}}</div>
        <div>Quantidade: {{amount}}</div>
        <div>Valor unitario R$: {{valueUnit}}</div>
        <div>Valor Total: {{valueTotal}}</div>
        <div>Forma de Pagamento: {{formPGTO}}</div>
        <div>Vencimento: {{maturityFormat}}</div>
        <div>Categoria: {{category}}</div>
        <div>Descrição: {{description}}</div>
        <button class="btn-delete" name="{{_id}}" type="button">Excluir</button>
        <button class="btn-edit" name="{{_id}}" type="button">Editar</button>
        <HR></HR>
    </div>
    {{/each}}

    {{else}}
        <h3>Não possui nenhuma entrada</h3>
{{/if}}

</section>

<script type="text/javascript" src="../javascript/financialIncome.js"></script>
<script type="text/javascript" src="../javascript/financialIncomeHandler.js"></script>

</body>