<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    
<h2>Adicionar Despesa:</h2>
<form id="create-new-expense">
    <label>Fornecedor:</label>
    <select name="provider" id="provider">
        {{#each clients}}
            <option value={{_id}}>{{name}}</option>
        {{/each}}
    </select>
    <label >Quantidade:</label>
    <input class="amount" type="number" name="amount" value="0" step="any" title="Adicionar quantidade, Não utilizar virgula somente ponto!">
    <label >Valor unitario R$:</label>
    <input class="valueUnit" type="number" name="valueUnit" value="0" step="any" title="Adicionar valor unitario, Não utilizar virgula somente ponto!">
    <label id="valueTotal"> Valor total: <strong>R$ 0,00</strong></label>
    <label>Forma de Pagamento:</label>
    <input type="text" name="formPGTO">
    <label>Vencimento:</label>
    <input type="date" name="maturity">
    <label>Descrição:</label>
    <input type="text" name="description">
    <label>Categoria:</label>
    <input type="text" name="category">
    <button type="submit">Adicionar</button>
</form>
<div class="message-container"></div>
<section id="expense-List">
{{#if financialExpenses}}
    <h3> Lista de entradas </h3>
    {{#each financialExpenses}}
    <div id="expense">
        <div value="{{idProvider}}">Fornecedor: {{nameProvider}}</div>
        <div>Quantidade: {{amount}}</div>
        <div>Valor unitario: {{valueUnit}}</div>
        <div>Valor Total: R$ {{valueTotal}}</div>
        <div>Forma de Pagamento: {{formPGTO}}</div>
        <div>Vencimento: {{maturityFormat}}</div>
        <div>Categoria: {{category}}</div>
        <div>Descrição: {{description}}</div>
        <button class="btn-delete" name="{{_id}}" type="button">Excluir</button>
        <button class="btn-edit" name="{{_id}}" type="button">Editar</button>
        <HR></HR>
    </div>
    {{/each}}

    {{else}}
        <h3>Não possui nenhuma entrada</h3>
{{/if}}

</section>

<script type="text/javascript" src="../javascript/financialExpenses.js"></script>
<script type="text/javascript" src="../javascript/financialExpenseHandler.js"></script>

</body>
