<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    
<h2>Adicionar Receita:</h2>
<form id="create-new-income">
    <label>Cliente:</label>
    <select name="clients" id="">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
    </select>
    <label >Quantidade:</label>
    <input type="number" name="amount" value="0" step="any" title="Adicionar quantidade, Não utilizar virgula somente ponto!">
    <label >Valor unitario R$:</label>
    <input type="number" name="valueUnit" value="0" step="any" title="Adicionar valor unitario, Não utilizar virgula somente ponto!">
    <label id="valueTotal"> Valor total: <strong></strong></label>
    <label>Forma de Pagamento:</label>
    <input type="text" name="formPGTO">
    <label>Vencimento:</label>
    <input type="date" name="maturity">
    <label>Descrição:</label>
    <input type="text" name="description">
    <label>Categoria:</label>
    <input type="text" name="category">
    <label>Nota fiscal:</label>
    <input type="file" name="invoice">
    <button type="submit">Adicionar</button>
</form>
<div class="message-container"></div>
<section id="income-List">
{{#if result}}
    <h3> Lista de entradas </h3>
    {{#each result}}
        <div>Cliente: {{nameClient}}</div>
        <div>Quantidade: {{amount}}</div>
        <div>Valor unitario: {{valueUnit}}</div>
        <div>Valor Total: {{valueTotal}}</div>
        <div>Forma de Pagamento: {{formPGTO}}</div>
        <div>Vencimento: {{maturity}}</div>
        <div>Categoria: {{category}}</div>
        <div>Descrição: {{description}}</div>
        <div>Visualizar nota fiscal: {{invoice}}</div>
        <HR></HR>
    {{/each}}

    {{else}}
        <h3>Não possui nenhuma entrada</h3>
{{/if}}

</section>

<script type="text/javascript" src="../javascript/financialIncome.js"></script>
<script type="text/javascript" src="../javascript/financialIncomeHandler.js"></script>

</body>